# Notebook này dùng để tự học Julia

#### Mục tiêu

- Phân biệt những đối tượng cơ bản như: array, matrix, cell
- Cách sử dụng cách phép toán ma trận cơ bản: nhân, chia, nối, reshape,...
- Biết cách khai báo và sử dụng hàm
- **Nắm vững cách vẽ hình**

In [ ]:
using Plots

X = rand(1,10)
Y = X*2

# Work fine
plot(X,Y)
scatter(X,Y)

## Cách load file csv vào Julia

- Trước hết cần cài đặt gói CSV

In [ ]:
Pkg.status()
Pkg.add("CSV")
using CSV
data = CSV.read("zone_NH.csv")

## Một số lệnh làm việc với biến, kiểm tra linh tinh
#### Lưu ý là các lệnh này là của <span style="color:red">fresh Julia environment</span>, tức là làm việc được với tất cả các biến

- **typeof()** Kiểm tra kiểu dữ liệu
- **length()** Kiểm tra độ dài

In [39]:
println(length(data))
println(typeof(data))

15
DataFrames.DataFrame

## Các lệnh kiểm tra dữ liệu kiểu DataFrame

- Kiểm tra shape

In [42]:
using DataFrames

In [45]:
head(data)

6×15 DataFrames.DataFrame. Omitted printing of 8 columns
│ Row │ index │ Date       │ Hr_End │ DA_Demand │ RT_Demand │ DA_LMP │ DA_EC │
├─────┼───────┼────────────┼────────┼───────────┼───────────┼────────┼───────┤
│ 1   │ 0     │ 2003-03-01 │ 1      │ 0.0       │ 1055.0    │ 72.76  │ 72.89 │
│ 2   │ 1     │ 2003-03-01 │ 2      │ 0.0       │ 1017.0    │ 70.88  │ 71.02 │
│ 3   │ 2     │ 2003-03-01 │ 3      │ 0.0       │ 1000.0    │ 69.87  │ 70.0  │
│ 4   │ 3     │ 2003-03-01 │ 4      │ 0.0       │ 997.0     │ 68.99  │ 69.11 │
│ 5   │ 4     │ 2003-03-01 │ 5      │ 0.0       │ 1010.0    │ 69.87  │ 69.99 │
│ 6   │ 5     │ 2003-03-01 │ 6      │ 0.0       │ 1050.0    │ 69.87  │ 69.98 │

In [46]:
tail(data)

6×15 DataFrames.DataFrame. Omitted printing of 8 columns
│ Row │ index  │ Date       │ Hr_End │ DA_Demand │ RT_Demand │ DA_LMP │ DA_EC │
├─────┼────────┼────────────┼────────┼───────────┼───────────┼────────┼───────┤
│ 1   │ 119106 │ 2016-09-30 │ 19     │ 1345.1    │ 1349.71   │ 39.7   │ 39.56 │
│ 2   │ 119107 │ 2016-09-30 │ 20     │ 1368.7    │ 1354.29   │ 39.54  │ 39.36 │
│ 3   │ 119108 │ 2016-09-30 │ 21     │ 1318.4    │ 1298.64   │ 31.62  │ 31.49 │
│ 4   │ 119109 │ 2016-09-30 │ 22     │ 1212.2    │ 1213.17   │ 24.14  │ 23.91 │
│ 5   │ 119110 │ 2016-09-30 │ 23     │ 1084.4    │ 1100.83   │ 23.96  │ 23.83 │
│ 6   │ 119111 │ 2016-09-30 │ 24     │ 973.4     │ 991.9     │ 21.3   │ 21.23 │